# SPDX-FileCopyrightText: 2025 Jason Pena <jasonpena@awkless.com>
# SPDX-License-Identifier: CC0-1.0

---
Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         bugprone-*,
         modernize-*,
         -modernize-use-trailing-return-type,
         -modernize-avoid-c-arrays,
         portability-*,
         performance-*,
         readability-*,
         -readability-braces-around-statements'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
...
